<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Exam Screen</h1>
{#<a href="/examadd">add</a>&nbsp;&nbsp;&nbsp;#}
<a href="/examall">view/delete/edit</a>
<h1>exam code add</h1>
{#<h2>{{ msg }}</h2>#}
<div>
 {% for message in messages %}
{#    <h3>{{message}}</h3>#}
     <script>
         alert('{{ message }}');
    </script>
    {% endfor %}
</div>

<form method="post">
    {% csrf_token %}
 <select name="t1" required>
     <option></option>
     <option value="06">6th class</option>
     <option value="07">7th class</option>
     <option value="08">8th class</option>
     <option value="09">9th class</option>
     <option value="10">10th class</option>
</select>

 <select name="t2" required>
     <option></option>
     <option value="CBSE"> Central Board of Secondary Education(CBSE) </option>
     <option value="SB"> State Board </option>
     <option value="ICSE"> Indian Certificate of Secondary Education (ICSE) </option>
</select>

 <select name="t3" required>
  <option></option>
  <option value="19">2019</option>
     <option value="20">2020</option>
     <option value="21">2021</option>
     <option value="22">2022</option>
     <option value="23">2023</option>
     <option value="24">2024</option>
     <option value="25">2025</option>
     <option value="26">2026</option>
     <option value="27">2027</option>
     <option value="28">2028</option>
     <option value="29">2029</option>
     <option value="30">2030</option>



</select>
    <input type="submit" value="add">
</form>
</body>
</html>