<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% for message in messages %}
        <script>
           alert('{{ message }}');
        </script>
    {% endfor %}
</div>
<h1>Forget Password</h1>
<form method="post" action="/forget/">
    {% csrf_token %}
    enter register email:
    <input type="text" name="email" placeholder="enter register email id"  autocomplete="off" required><br>
    <input type="submit" value="submit">
</form>
</body>
</html>