<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update Questions</h1>
<form method="post">
    {% csrf_token %}


    update question:
    <input type="text" name="question" value="{{ question.question }}" size="60"><br>
    update option1:
    <input type="text" name="option1" value="{{ question.option1}}"><br>
    update option2:
    <input type="text" name="option2" value="{{ question.option2}}"><br>
    update option3:
    <input type="text" name="option3" value="{{ question.option3}}"><br>
    update option1:
    <input type="text" name="option4" value="{{ question.option4}}"><br>
    update answer:
    <input type="text" name="answer" value="{{ question.answer }}"><br>
     update examcode:
    <input type="text" name="examcode" value="{{question.examcode }}"><br>
    update subjectcode:
     <input type="text" name="subcode" value="{{ question.subcode }}"><br>
    <input type="submit" value="submit">
</form>
</body>
</html>